.ButtonOpen {
  width: 4rem;
  height: 4rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-image: url('./assets/search.svg');
  background-position: center center;
  transition: background-color .25s ease-in-out;
}

.ButtonOpen:hover {
  background-color: var(--lightest-grey-color);
}
